@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
body { font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 300; line-height: 30px; overflow: visible; overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 { font-weight: 300; line-height: 1; word-break: break-word; margin-top: 1em; margin-bottom: 1em; }

@media (min-width: 768px) { h1 { font-size: 56px; } }

h4 { font-size: 20px; }

h5 { font-size: 18px; }

h6 { font-size: 17px; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child { margin-bottom: 0; }

h2[id] { padding-top: 2em; padding-bottom: 1.3em; margin-bottom: 0.7em; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.ds h2[id], .cs h2[id] { border-color: rgba(255, 255, 255, 0.1); }

h3[id] { padding-top: 2em; }

h4[id] { margin-top: 0; padding-top: 3.2em; padding-bottom: 1em; }

p { margin-bottom: 1em; }

ul:last-child, ol:last-child, p:last-child { margin-bottom: 0; }

img, figure { max-width: 100%; height: auto; }

pre code { line-height: 1.6; }

pre { position: relative; margin: 30px 0; }

.btn { text-transform: uppercase; font-weight: 400; font-size: 12px; border-radius: 2px; }

.btn-clipboard-wrapper { position: absolute; right: 5px; top: 2px; opacity: 0.5; }

.btn-clipboard-wrapper:hover { opacity: 1; }

.sticky-top { font-weight: 400; }

.sticky-top .navbar-brand { font-size: inherit; }

.sticky-top .logo-image-small { position: relative; bottom: 4px; }

.sticky-top .btn { padding: 11px 22px; margin: 0 2px; }

.sticky-top .navbar-light .navbar-toggler { border: none; }

@media (min-width: 992px) { .navbar-toggleable-md .navbar-nav .nav-link { padding-right: 1.2rem; padding-left: 1.2rem; } }

@media (min-width: 1200px) { .sticky-top .nav-item { margin: 0 10px; } }

.gradient-background { position: relative; }

.gradient-background:before { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #271b38; background: -webkit-gradient(linear, left top, right top, color-stop(0%, #271b38), color-stop(100%, #7952b2)); background: -webkit-linear-gradient(left, #271b38 0%, #7952b2 100%); background: linear-gradient(to right, #271b38 0%, #7952b2 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorBootstrap', endColorstr='$colorBootstrap2',GradientType=1 ); }

.page_title h1 { margin-top: 0.6em; margin-bottom: 0.4em; }

.page_title p { font-weight: 300; font-size: 22px; line-height: 1.7em; }

.page_title .btn { margin-top: 5px; margin-bottom: 15px; padding: 22px; }

.logo-image { position: relative; left: 10px; }

#about img { display: inline-block; max-width: 200px; margin: 30px; }

.page_copyright .navbar a { padding: 0 20px; }

#to-top { position: fixed; right: 10px; bottom: 10px; }

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs { display: block; overflow-x: auto; padding: 2em 0.5em; color: #333; background: #f8f8f8; }

.hljs-comment, .hljs-quote { color: #998; font-style: italic; }

.hljs-keyword, .hljs-selector-tag, .hljs-subst { color: #333; font-weight: bold; }

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr { color: #008080; }

.hljs-string, .hljs-doctag { color: #d14; }

.hljs-title, .hljs-section, .hljs-selector-id { color: #900; font-weight: bold; }

.hljs-subst { font-weight: normal; }

.hljs-type, .hljs-class .hljs-title { color: #458; font-weight: bold; }

.hljs-tag, .hljs-name, .hljs-attribute { color: #000080; font-weight: normal; }

.hljs-regexp, .hljs-link { color: #009926; }

.hljs-symbol, .hljs-bullet { color: #990073; }

.hljs-built_in, .hljs-builtin-name { color: #0086b3; }

.hljs-meta { color: #999; font-weight: bold; }

.hljs-deletion { background: #fdd; }

.hljs-addition { background: #dfd; }

.hljs-emphasis { font-style: italic; }

.hljs-strong { font-weight: bold; }
